* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Crete Round", "Poppins", "Roboto", "inter", sans-serif;
  color: #fff;
}

.container {
  width: 375px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  align-items: center;
}

header a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.hero-section {
  background-color: #1c1a19;
  padding: 120px 24px 120px 24px;
  background-image: url("./img/hero-image.png");
  background-repeat: no-repeat;
  background-position: right 0% bottom -155%;
}

.hero-section h1 {
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
  text-align: left;
  color: #ff6b00;
  margin-bottom: 12px;
}

.hero-section h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}

.hero-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.hero-section-icons {
  background-image: url("./header-group.png");
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding-left: 0;
  width: 53%;
}

.hero-section-icons li {
  list-style: none;
}

.hero-section-icons img {
  margin-right: 21px;
}

.hero-image {
  position: absolute;
  right: 0;
  top: 317px;
  bottom: 0.1%;
}

.works-section {
  margin: 120px 24px 0 24px;
}

.works-section h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
}

.works-section h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #1c1a19;
}

.works-section img {
  margin-top: 80px;
  margin-bottom: 24px;
}

.works-section p {
  margin-bottom: 12px;
  color: #1c1a19;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.list {
  display: flex;
  margin-bottom: 12px;
}

.list-white {
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.list-white li {
  list-style: none;
  color: #091e42;
  background-color: white;
  font-family: "Inter", sans-serif;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-right: 12px;
}

.btn-orange {
  background-color: #ff6b00;
  padding: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 24px;
  line-height: 24px;
  border: none;
  color: white;
}

.btn-orange:hover {
  letter-spacing: 0.03em;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.works-card {
  display: grid;
  row-gap: 24px;
}

.work-card {
  display: flex;
  flex-direction: column;
}

.work-card-details {
  display: flex;
  flex-direction: column;
  background-image: url(./img/work-card-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 16px 0 16px;
  color: #fff;
  margin-bottom: 0;
}

.work-card h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.work-card p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.list-grey li {
  list-style: none;
  color: white;
  background: rgba(255, 255, 255, 0.24);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #ffffff3d;
  padding: 10px 12px;
  margin-right: 12px;
}

.list-grey {
  padding-bottom: 22px;
}

.btn-orange-big {
  width: 100%;
  margin: 0;
}

.about-section {
  background-image: url(./img/about-section-hero.png);
  background-repeat: no-repeat;
  background-position: right 0% bottom 84%;
  background-color: #1c1a19;
  padding: 120px 24px 132px 24px;
  margin-top: 120px;
}

.about-section h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-section p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.btn-about {
  margin-bottom: 210px;
}

.about-horizontal {
  background-color: white;
  height: 1px;
}

.about-section-skills {
  margin-top: 136px;
  display: flex;
  flex-direction: column;
}

.about-section-skills h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 12px;
}

.skills-card li {
  list-style: none;
  padding-bottom: 44px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  line-height: 44px;
}

.skills-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}

.skills-header img {
  width: 20px;
  height: 20px;
}

.form_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
}

.form_section p {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
}

.form_element {
  display: grid;
  grid-template-columns: 100%;
  padding-top: 70px;
  width: 100%;
}

.form_element input {
  border-bottom: 1px solid #dbd8d7;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 14px 16px;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.form_element textarea {
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #FBF8F7;
  font-family: 'Inter',sans-serif;
  color: #3C3A39;
}

.form_element textarea::placeholder{
  color: #3C3A39;
}

.btn-form {
  width: 50%;
  place-self: center;
  margin-bottom: 124px;
  margin-top: 0;
}

.line {
  width: 114.7%;
  height: 2px;
  background-color: #dfe1e6;
  margin-bottom: 6.5%;
}

#bottom-social {
  margin-bottom: 6%;
}

.bottom_line {
  height: 5px;
  width: 134px;
  background-color: #0d151e;
  margin-bottom: 2%;
}
